p {

	margin: 30px;
	padding: 80px;
}
.one{
	background-color:#041736;
}
.two{
	background-color: #2e2b2d;
}
.three{
	background-color: #0e17b5;
}
.four {
	background-color: #0eb575;
}
.five {
	background-color: #520606;
}
.six{
	background-color: #613f6e;
}
.seven{
	background-color: #457075;
}
.eight{
	background-color: #198a48;
}
.nine{
	background-color: #cc6a6a;
}
.ten{
	background-color: #51753e;
}